/* Reset default styles */
body,
h1,
h2,
p {
	margin: 0;
	padding: 0;
}

/* Basic layout using Flexbox */
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-family: Arial, sans-serif;
}

.header,
.footer {
	padding: 20px;
	background-color: #333;
	color: #fff;
}

.main {
	flex: 1;
	padding: 20px;
}

.content,
.footer {
	text-align: center;
}

/* Animation using keyframes */
.button {
	display: inline-block;
	padding: 10px 20px;
	background-color: #007bff;
	color: #fff;
	border: none;
	cursor: pointer;
	border-radius: 30px;
	margin: 10px 0;
	transition: background-color 0.3s ease;
}

.button:hover {
	animation: pulse 1s infinite;
}

@keyframes pulse {
	0%,
	100% {
		background-color: #007bff;
	}
	50% {
		background-color: #0056b3;
	}
}

/* Styling for the features section */
.features {
	display: flex;
	justify-content: space-around;
	padding: 40px 0;
	background-color: #f9f9f9;
}

.feature {
	flex: 1;
	padding: 20px;
	border: 1px solid #ddd;
	border-radius: 5px;
	background-color: #fff;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
	text-align: center;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature:hover {
	transform: translateY(-5px);
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

/* Additional CSS properties for blend mode effect */
.feature h3 {
	mix-blend-mode: multiply;
}

/* Styling for the navigation menu */
.navbar {
	display: flex;
	justify-content: center;
	background-color: var(--primary-color);
	padding: 10px 0;
}

.nav-link {
	text-decoration: none;
	color: #fff;
	margin: 0 15px;
	padding: 5px;
	border-radius: 5px;
	transition: background-color 0.3s ease;
}

.nav-link:hover {
	background-color: var(--secondary-color);
}

/* Additional CSS properties for header title */
.header-title {
	text-align: center;
	color: #333;
	margin-top: 20px;
	font-size: 2.5rem;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Define CSS variables */
:root {
	--primary-color: #007bff;
	--secondary-color: #0056b3;
}

/* Mobile responsiveness */
@media (max-width: 600px) {
	.header,
	.footer {
		padding: 10px;
	}

	.main {
		padding: 10px;
	}

	/* Adjust features layout for smaller screens */
	.features {
		flex-direction: column;
	}

	.feature {
		margin: 10px;
	}

	/* Adjust header layout for smaller screens */
	.navbar {
		flex-direction: column;
		align-items: center;
	}

	.nav-link {
		margin: 5px 0;
	}
}
